t_urllibtest.py
__pycache__/*
test4.txt
.~lock.randstats.ods#
Current.png
Horus.png
Old.png
new
old
rand1.txt
rand2.txt
rand3.txt
rand4.txt
rand5.txt
rand6.txt
rand7.txt
randstats.ods
results
results_new
results_old
test.txt
test2.txt
test3.txt
t_urllibtest.py
Antoni_Baum_discord-true-randomness-bot.zip
Pipfile
Pipfile.lock
_sourcerandom.py.bak
how_to.txt
