[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
async-timeout = "*"
asteval = "*"
asyncio = "*"
requests = "*"
sourcerandom = "*"
numpy = "*"
wordcloud = "*"
matplotlib = "*"
"urllib3" = ">=1.24.2"
schedule = "*"
discord = "*"
aiohttp = "*"
aiodns = "*"
xmltodict = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
